{# Favicon #}
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/images/favicon/favicon-32x32.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/images/favicon/favicon-16x16.png' | url }}">

{# Manifest #}
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">