{# Meta tags #}
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>        
<meta name="theme-color" content="#FFFFFF"/>
<meta name="description" content="Lag noen tilfeldige ord"/>

{# Favicon #}
<link rel="icon" type="image/svg+xml" href="{{ '/static/images/favicon/favicon.svg' | url }}">
<link rel="alternate icon" type="image/png" sizes="16x16" href="{{ '/static/images/favicon/favicon.png' | url }}">
<link rel="mask-icon" type="image/svg+xml" href="{{ '/static/images/favicon/favicon.svg' | url }}">
<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="{{ '/static/images/favicon/maskable-icon.png' | url }}">

{# Manifest #}
<link rel="manifest" href="{{ '/manifest.json' | url }}">