---
import Layout from '../layouts/Layout.astro';
import { nouns } from '../lib/nouns';
import { verbs } from '../lib/verbs';

const allWords = [...nouns, ...verbs];
const count = allWords.length;
const combinations = count * (count - 1);
---

<Layout title="Statistikk">
  <div id="statistics">
    <h1>Statistikk:</h1>
    <table>
      <tr>
        <th>Antall ord:</th>
        <td>{count.toLocaleString('nb-NO')}</td>
      </tr>
      <tr>
        <th>Antall mulige kombinasjoner:</th>
        <td>{combinations.toLocaleString('nb-NO')}</td>
      </tr>
    </table>
  </div>
</Layout>