---
permalink: /static/app.js
eleventyExcludeFromCollections: true
---
import { getRandomWords, getRandomWordAsList } from './utils.js';

const nouns = {{ nouns | safe }};

function updatePageWithRandomWord() {
  document.getElementById("randomWord").innerHTML = getRandomWordAsList(nouns, 2);
};

// Update random words when page loads
document.addEventListener("DOMContentLoaded", updatePageWithRandomWord);
