---
layout: base
title: Tilfeldig ord
---

<script src="/static/app.js"></script>

<div id="randomWord"></div>

<nav><a id="new" title="Nytt ord" href="#" onclick="updatePageWithRandomWord();return false;">Nytt ord</a></nav>
