<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "meta.njk" %}
        <title>
            {% block header %}Tilfeldige ord{% endblock %}
        </title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <main>
            {{ content | safe }}
            {% include "nav.njk" %}
        </main>

        <footer>Laget med kjærlighet og <a href="https://github.com/cruftlab/tilfeldigeord.no/">åpen kildekode</a>.</footer>
    </body>
</html>